<div fxLayout="row wrap" fxLayoutAlign="space-between stretch">

    <form fxLayout="row wrap" fxFlex="100" [formGroup]="formTurn">
            <div fxFlex.gt-sm="100"  fxFlex="100" class=" danger">
                    <div fxLayout="row wrap " fxLayoutAlign="space-between stretch" class="p-30">
                            <h3 fxFlex="100" class="text-bold text-center m-b-20 m-t-0">Turno</h3>
                            <mat-form-field fxFlex.gt-xs="100" fxFlex="100">
                                    <input matInput placeholder="Turno" formControlName="turn"
                                            [errorStateMatcher]="matcher">
                                    <mat-error> This field is required </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex.gt-xs="100" fxFlex="100">
                                <input matInput placeholder="Hora de Entrada" formControlName="startHour"
                                        [errorStateMatcher]="matcher">
                                <mat-error> This field is required </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex.gt-xs="100" fxFlex="100">
                                <input matInput placeholder="Hora de Salida" formControlName="leaveHour"
                                    [errorStateMatcher]="matcher">
                                <mat-error> This field is required </mat-error>
                        </mat-form-field>
                            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end" class="p-t-30 m-auto">
                                    <div fxFlex="50" fxLayoutAlign="center center">
                                            <button *ngIf="type === 'edit' && show == true" mat-raised-button (click)="this.updateTerminal()"> Save </button>
                                            <button [disabled]="formTurn.invalid" *ngIf="type === 'new'" mat-raised-button (click)="this.createTerminal()"> Create </button>
                                    </div>
                                    <div fxFlex="50"  fxLayoutAlign="center center">
                                            <button mat-raised-button (click)="dialogRef.close()"> Close </button>
                                    </div>
                            </div>
                            
                    </div>
            </div>
           
    </form>
</div>
